In [5]:
import pandas as pd
from pandas import json_normalize

# Load the Excel file
file_path = 'E:\\GUVI\\PROJECT 3 CARDHEKO\\DATASET\\concatenated_output.csv'
df = pd.read_csv(file_path)  # Load all sheets



# Define the columns containing key-value pairs
columns_with_pairs = ['new_car_detail']

# Function to process each column
def process_column(column):
    # Convert the column to a DataFrame with flattened dictionaries
    flattened_dfs = df[column].apply(lambda x: pd.json_normalize(eval(x)) if pd.notnull(x) else pd.DataFrame())
    combined_df = pd.concat(flattened_dfs.tolist(), ignore_index=True)
    return combined_df

# Process each column and combine the results
result_dfs = [process_column(col) for col in columns_with_pairs]
# Remove duplicates if any
#expanded_df = expanded_df.drop_duplicates()
# Combine all the processed DataFrames
expanded_df = pd.concat(result_dfs, axis=1)

# Include the City column
df_final_details = pd.concat([df[['City']], expanded_df], axis=1)

# Display the final DataFrame
print(df_final_details.head(5))

        City  it      ft         bt        km transmission  ownerNo  \
0  Bangalore   0  Petrol  Hatchback  1,20,000       Manual        3
1  Bangalore   0  Petrol        SUV    32,706       Manual        2
2  Bangalore   0  Petrol  Hatchback    11,949       Manual        1
3  Bangalore   0  Petrol      Sedan    17,794       Manual        1
4  Bangalore   0  Diesel        SUV    60,000       Manual        1

       owner      oem               model  modelYear  centralVariantId  \
0  3rd Owner   Maruti      Maruti Celerio       2015              3979
1  2nd Owner     Ford       Ford Ecosport       2018              6087
2  1st Owner     Tata          Tata Tiago       2018              2983
3  1st Owner  Hyundai       Hyundai Xcent       2014              1867
4  1st Owner   Maruti  Maruti SX4 S Cross       2015              4277

                variantName        price priceActual priceSaving  \
0                       VXI     ₹ 4 Lakh
1  1.5 Petrol Titanium BSIV  ₹ 8.11 Lakh
2           1.2 Revotron XZ  ₹ 5.85 Lakh
3        1.2 Kappa S Option  ₹ 4.62 Lakh
4             DDiS 200 Zeta  ₹ 7.90 Lakh

  priceFixedText                                trendingText.imgUrl  \
0           None  https://stimg.cardekho.com/used-cars/common/ic...
1           None  https://stimg.cardekho.com/used-cars/common/ic...
2           None  https://stimg.cardekho.com/used-cars/common/ic...
3           None  https://stimg.cardekho.com/used-cars/common/ic...
4           None  https://stimg.cardekho.com/used-cars/common/ic...

  trendingText.heading                    trendingText.desc
0        Trending Car!  High chances of sale in next 6 days
1        Trending Car!  High chances of sale in next 6 days
2        Trending Car!  High chances of sale in next 6 days
3        Trending Car!  High chances of sale in next 6 days
4        Trending Car!  High chances of sale in next 6 days

In [7]:
df_final_details.shape

(8369, 20)

In [10]:
import pandas as pd
import ast
from pandas import json_normalize

# Load the Excel file and read only the necessary column
file_path = 'E:\\GUVI\\PROJECT 3 CARDHEKO\\DATASET\\concatenated_output.csv'
df = pd.read_csv(file_path, usecols=['new_car_overview'])

def extract_data_from_row(row):
    cell_data = row['new_car_overview']
    if pd.notnull(cell_data):
        try:
            # Convert the string to a dictionary
            data_dict = ast.literal_eval(cell_data)
            
            # Extract 'top' section
            top_data = pd.DataFrame()
            if 'top' in data_dict:
                top_data = json_normalize(data_dict['top'])
            
            # Return the extracted data
            return top_data
        except Exception as e:
            print(f"Error processing row: {row}")
            print(f"Exception: {e}")
            return pd.DataFrame()
    return pd.DataFrame()

# Process data in batches to manage memory and CPU usage
chunk_size = 1000  # Adjust chunk size based on your system's memory
all_data = []

for start in range(0, len(df), chunk_size):
    end = min(start + chunk_size, len(df))
    chunk_df = df.iloc[start:end]
    
    # Extract and normalize data for each chunk
    chunk_data = [extract_data_from_row(row) for _, row in chunk_df.iterrows()]
    chunk_combined = pd.concat(chunk_data, ignore_index=True) if chunk_data else pd.DataFrame()
    
    if not chunk_combined.empty:
        all_data.append(chunk_combined)

# Combine all chunks
df_combined = pd.concat(all_data, ignore_index=True) if all_data else pd.DataFrame()

# Debugging: Print the shape and sample data
print("Shape of df_combined:", df_combined.shape)
print(df_combined.head())

# Add a unique identifier column for each row
df_combined['id'] = df_combined.groupby('key').cumcount()

# Pivot the DataFrame
df_final_overview = df_combined.pivot_table(index='id', columns='key', values='value', aggfunc='first')

# Reset the index to get a clean DataFrame
df_final_overview = df_final_overview.reset_index(drop=True)

# Drop the 'id' column if needed
df_final_overview = df_final_overview.drop(columns=['id'], errors='ignore')

# Debugging: Print the shape and sample data of the final DataFrame
print("Shape of df_final_overview:", df_final_overview.shape)
print(df_final_overview.head())

Shape of df_combined: (82682, 3)
                  key                  value  \
0   Registration Year                   2015
1  Insurance Validity  Third Party insurance
2           Fuel Type                 Petrol
3               Seats                5 Seats
4          Kms Driven           1,20,000 Kms

                                                icon
0  https://images10.gaadi.com/listing/vdp/co/v1/r...
1  https://images10.gaadi.com/listing/vdp/co/v1/i...
2  https://images10.gaadi.com/listing/vdp/co/v1/f...
3  https://images10.gaadi.com/listing/vdp/co/v1/s...
4  https://images10.gaadi.com/listing/vdp/co/v1/k...
Shape of df_final_overview: (8369, 10)
key Engine Displacement Fuel Type     Insurance Validity    Kms Driven  \
0                998 cc    Petrol  Third Party insurance  1,20,000 Kms
1               1497 cc    Petrol          Comprehensive    32,706 Kms
2               1199 cc    Petrol          Comprehensive    11,949 Kms
3               1197 cc    Petrol          Comprehensive    17,794 Kms
4               1248 cc    Diesel  Third Party insurance    60,000 Kms

key     Ownership   RTO Registration Year    Seats Transmission  \
0     Third Owner  KA51              2015  5 Seats       Manual
1    Second Owner  KA05          Feb 2018  5 Seats       Manual
2     First Owner  KA03         Sept 2018  5 Seats       Manual
3     First Owner  KA53          Dec 2014  5 Seats       Manual
4     First Owner  KA04              2015  5 Seats       Manual

key Year of Manufacture
0                  2015
1                  2018
2                  2018
3                  2014
4                  2015

In [12]:
import pandas as pd
import ast
from pandas import json_normalize

# Load the Excel file and read only the necessary column
file_path = 'E:\\GUVI\\PROJECT 3 CARDHEKO\\DATASET\\concatenated_output.csv'
df = pd.read_csv(file_path, usecols=['new_car_specs'])

# Add a unique identifier for each row (car) to maintain consistency
df['car_id'] = df.index

def extract_data_from_row(row):
    cell_data = row['new_car_specs']
    if pd.notnull(cell_data):
        try:
            # Convert the string to a dictionary
            data_dict = ast.literal_eval(cell_data)
            
            # Extract 'top' section
            top_data = pd.DataFrame()
            if 'top' in data_dict:
                top_data = json_normalize(data_dict['top'])
            
            # Extract 'list' section from nested dictionaries in 'data'
            list_data = pd.DataFrame()
            if 'data' in data_dict:
                for data_entry in data_dict['data']:
                    if 'list' in data_entry:
                        list_data = pd.concat([list_data, json_normalize(data_entry['list'])], ignore_index=True)
            
            # Combine 'top' and 'list' data
            combined_data = pd.concat([top_data, list_data], ignore_index=True) if not top_data.empty or not list_data.empty else pd.DataFrame()
            
            # Add car_id to combined data to associate with the correct car
            combined_data['car_id'] = row['car_id']
            
            # Return the combined data
            return combined_data
        except Exception as e:
            print(f"Error processing row: {row}")
            print(f"Exception: {e}")
            return pd.DataFrame()
    return pd.DataFrame()

# Process data in batches to manage memory and CPU usage
chunk_size = 1000  # Adjust chunk size based on your system's memory
all_data = []

for start in range(0, len(df), chunk_size):
    end = min(start + chunk_size, len(df))
    chunk_df = df.iloc[start:end]
    
    # Extract and normalize data for each chunk
    chunk_data = [extract_data_from_row(row) for _, row in chunk_df.iterrows()]
    chunk_combined = pd.concat(chunk_data, ignore_index=True) if chunk_data else pd.DataFrame()
    
    if not chunk_combined.empty:
        all_data.append(chunk_combined)

# Combine all chunks
df_combined = pd.concat(all_data, ignore_index=True) if all_data else pd.DataFrame()

# Debugging: Print the shape and sample data
print("Shape of df_combined:", df_combined.shape)
print(df_combined.head())

# Pivot the DataFrame using 'car_id' as index to avoid duplicate rows
df_final_specs = df_combined.pivot_table(index='car_id', columns='key', values='value', aggfunc='first')

# Reset the index to get a clean DataFrame
df_final_specs = df_final_specs.reset_index(drop=True)

# Debugging: Print the shape and sample data of the final DataFrame
print("Shape of df_final_specs:", df_final_specs.shape)
print(df_final_specs.head())

Shape of df_combined: (284200, 3)
         key      value  car_id
0    Mileage  23.1 kmpl       0
1     Engine     998 CC       0
2  Max Power   67.04bhp       0
3     Torque       90Nm       0
4      Seats          5       0
Shape of df_final_specs: (8369, 40)
key   Acceleration Alloy Wheel Size  BoreX Stroke Cargo Volumn   Color  \
0    15.05 Seconds              NaN    73 X 82 mm   235-litres   White
1              NaN               16  79 X 76.5 mm   352-litres   White
2     14.3 Seconds               14  77 X 85.8 mm   242-litres     Red
3     14.2 Seconds               14           NaN   407-litres  Others
4       12 Seconds               16  69.6 x 82 mm   353-litres    Gray

key Compression Ratio Displacement Drive Type   Engine  \
0              11.0:1          998        FWD   998 CC
1              11.0:1         1497        FWD  1497 CC
2              10.8:1         1199        FWD  1199 CC
3                 NaN         1197       FWD   1197 CC
4                 NaN         1248        FWD  1248 CC

key               Engine Type  ... Top Speed    Torque Turbo Charger  \
0                 K10B Engine  ...  150 Kmph      90Nm            No
1        Ti-VCT Petrol Engine  ...       NaN     150Nm            No
2             Revotron Engine  ...  150 kmph     114Nm            No
3    Kappa VTVT Petrol Engine  ...  172km/hr  113.75Nm            No
4      DDiS 200 Diesel Engine  ...  190 Kmph     200Nm           Yes

key Turning Radius         Tyre Type Value Configuration Values per Cylinder  \
0       4.7 metres  Tubeless, Radial                DOHC                   4
1       5.3 metres   Tubeless,Radial                DOHC                   4
2       4.9 meters          Tubeless                DOHC                   4
3       4.7 metres   Tubeless,Radial                DOHC                   4
4       5.2 meters   Tubeless,Radial                DOHC                   4

key Wheel Base Wheel Size   Width
0       2425mm        NaN  1635mm
1       2519mm         16  1765mm
2       2400mm         14  1647mm
3       2425mm         14  1660mm
4       2600mm         16  1785mm

[5 rows x 40 columns]

In [14]:
df_cars_combined=pd.concat([df_final_details,df_final_overview,df_final_specs], axis=1)
print(df_cars_combined.shape)

(8369, 70)

In [16]:
df_cars_combined.tail(10)

,City,it,ft,bt,km,transmission,ownerNo,owner,oem,model,...,Top Speed,Torque,Turbo Charger,Turning Radius,Tyre Type,Value Configuration,Values per Cylinder,Wheel Base,Wheel Size,Width
8359,Hyderabad,0,Diesel,MUV,"70,000",Manual,2,2nd Owner,Maruti,Maruti Ertiga,...,160 kmph,200Nm,Yes,5.2 metres,"Tubeless, Radial",DOHC,4,2740mm,NaN,1695mm
8360,Hyderabad,0,Petrol,Sedan,"16,925",Manual,1,1st Owner,Honda,Honda Amaze,...,NaN,110Nm,NaN,4.7,"Radial, Tubeless",SOHC,4,2470,NaN,1695
8361,Hyderabad,0,Petrol,Hatchback,"12,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,...,NaN,69Nm,NaN,4.6,Tubeless Tyres,NaN,4,2360,NaN,1515
8362,Hyderabad,0,Diesel,SUV,"20,000",Automatic,1,1st Owner,BMW,BMW X3,...,213 kmph,400Nm,Yes,5.95 metres,"Tubeless,Radial",DOHC,4,2864mm,R19,1891mm
8363,Hyderabad,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,...,175 kmph,330Nm,Yes,5.6 metres,"Tubeless,Radial",DOHC,4,2700mm,17,1890mm
8364,Hyderabad,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,...,175 kmph,330Nm,Yes,5.6 metres,"Tubeless,Radial",DOHC,4,2700mm,17,1890mm
8365,Hyderabad,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,...,250 Kmph,600Nm,Yes,5.75 metres,"Tubeless,Radial",DOHC,4,2909mm,20,1877mm
8366,Hyderabad,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,...,235kmph,400Nm,Twin,5.6,"Tubeless, Runflat",NaN,4,2975mm,R18,2126mm
8367,Hyderabad,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,...,154.19 kmph,260Nm,Yes,5.1m,Tubeless Radial Tyres,DOHC,4,2498mm,NaN,1811mm
8368,Hyderabad,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,...,155 Kmph,200Nm,Yes,5.4 metres,"Tubeless,Radial",DOHC,4,2750mm,15,1765mm

In [18]:
df_cars_combined.to_pickle('E:\\GUVI\\PROJECT 3 CARDHEKO\\DATASET\\concatenated_cars.pkl')